PORT=5050

NODE_ENV=development

DATABASE_URL=postgres://<user>:<password>@127.0.0.1:5432/<db>

DB_PROVIDER=postgres


# App
PORT=5050
NODE_ENV=development


DB_PROVIDER=postgres

DATABASE_URL=postgres://<user>:<password>@127.0.0.1:5432/<db>

MONGODB_URI_AUTH=mongodb://127.0.0.1:27017/todo_auth

JWT_SECRET=dec67b8e9ccc48ac6f93657fb9c7e4e03f0f855531c0d20c819501beca59d8ab17107bdd93ee1c0139ab8f556a172c17
JWT_EXPIRES=1h
